<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.dmm888.angularhandler"
    versionCode = "10" 
    version     = "1.0.0">
    <!-- versionCode is optional and Android only -->
    <name>AngularAsppNet</name>
    <description>
      Example of client server interaction
    </description>
    <author href="http://www.dmm888.com" email="diego@dmm888.com">
      Diego Burlando
    </author>	
	<icon src="icon.png" />
    <!--
      This allows your app to load assets from all *.phongap.com domains
	   <access origin="*" />
    -->
</widget>

